[Desktop Entry]
Name=Godot Mono Beta
Comment=Application for making games
Exec=/usr/bin/godot-mono-beta %U
Icon=godot-mono-beta
Terminal=false
Type=Application
Categories=Utility;Development;

